# Path to your Oh My Zsh installation.
export ZSH="/usr/share/oh-my-zsh"

# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

ENABLE_CORRECTION="false"

# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(git chezmoi gh git-auto-fetch rust ssh)

source $ZSH/oh-my-zsh.sh

###   ENVARS   ###
export LANG=en_US.UTF-8
export TERM=xterm-256color
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nano'
else
  export EDITOR='helix'
  export GIT_EDITOR='helix'
fi
export RUST_BACKTRACE=1
export TYPST_FONT_PATHS="~/.fonts"

###   ALIASES   ###
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias hx='helix'

alias tp=' tree -I "__init__*" -I "__pycache__"'

###   PATHS   ###
pathadd() {
  if [ -d "$1" ] && [[ ":$PATH:" != *":$1:"* ]]; then
    PATH="${PATH:+"$PATH:"}$1"
  fi
}

pathadd ~/.local/bin
