[Unit]
Description=Mount dropbox to user home directory.
AssertPathIsDirectory=%h/dropbox
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf
ExecStart=/usr/bin/rclone mount Dropbox: %h/dropbox --umask 002 --dir-cache-time 9999h --vfs-cache-mode full --vfs-cache-max-size 1000G --vfs-fast-fingerprint --vfs-read-chunk-size 32M --vfs-write-back 1h --vfs-cache-max-age 9999h --disable-http2 --tpslimit 12 --tpslimit-burst 0
ExecStop=/bin/fusermount -uz %h/dropbox
RestartSec=10

[Install]
WantedBy=default.target
