[Unit]
Description=Mount dropbox to user home directory.
AssertPathIsDirectory=%h/dropbox
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount --config=%h/.config/rclone/rclone.conf Dropbox: %h/dropbox
ExecStop=/bin/fusermount -u %h/dropbox
RestartSec=10

[Install]
WantedBy=default.target
